{% extends 'padres/base.html' %}

{% block title_pagina %}
<title>Acerca de mi</title>
{% endblock title_pagina %}


{% block mi_contenido %}
    {% block mi_header %}

<!-- Masthead-->
        <header class="masthead">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <div class="text-center text-white">
                            <!-- Page heading-->
                            <h1 class="mb-5">
                                {% block h1_texto_header %}
                                Mathias Molle
                                {% endblock h1_texto_header %}
                            </h1>
                                <p>Mi nombre es Mathias A. Molle, tengo 28 años y  actualmente vivo en la ciudad de La Plata. 
                                    Soy Ingeniero Químico y en la actualidad me desempeño como Ingeniero de Control de procesos en una petrolera. Alli me dedico principalmente a la configuración de estratégias de control avanzado.
                                     Mi trabajo fue el que desperto la curiosidad por conocer este mundo inmenso de la programación web </p>                   
                        </div>
                    </div>
                </div>
            </div>
        </header>
    {% endblock mi_header %}

    {% block index_contenido %}
    {% endblock index_contenido %}

{% endblock mi_contenido %}





        