{% extends 'padres/base.html' %}

{% block title_pagina %}
        <title>Oferta de servicios</title>
{% endblock title_pagina %}


{% block mi_contenido %} 
        <a class="navbar-brand" href = {% url 'input_user' %}>Crear Servicio </a> 
        <p>Listado de servicios:</p>
        <p>
        {% if object_list %}
                {% for user  in  object_list %}
                        <li>
                                {{user}}
                               
                                        {% comment %} <a  href = {% url 'editar_mascota' mascota.id %}>Editar </a>  {% endcomment %}
                                                           {% comment %} boton editar {% endcomment %}
                                        {% comment %} <a  href = {% url 'eliminar_mascota' mascota.id %}>Eliminar </a>  {% endcomment %}
                                                           {% comment %} boton eliminar {% endcomment %}
                        </li>
                {% endfor %}
        {% else %}
                <p>No se encontro el servicio buscado</p>
        {% endif %}
        </p>
{% endblock mi_contenido %}

