{% extends 'padres/base.html' %}

{% block title_pagina %}
        <title>Oferta de servicios</title>
{% endblock title_pagina %}


{% block mi_contenido %} 
        <a class="navbar-brand" href = {% url 'input_servs' %}>Crear Servicio </a> 
        <p>Listado de servicios:</p>
        <p>
        {% if object_list %}
                {% for servs  in  object_list %}
                        <li>
                                {{servs}}
                               
                                        <a  href = {% url 'edit_servs' servs.id %}>Editar </a> 
                                                           
                                        <a  href = {% url 'delete_servs' servs.id %}>Eliminar </a> 
                                                           
                {% endfor %}
        {% else %}
                <p>No se encontro el servicio buscado</p>
        {% endif %}
        </p>
{% endblock mi_contenido %}

